@import 'node_modules/bourbon/app/assets/stylesheets/_bourbon.scss';
@import 'node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss';
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss';
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

body {
  background: transparentize(#000, 0.99);
}

.root {
  width: 600px;
  margin: 50px auto 30px;;
  .info-container,
  .cells-container {
    @include span-columns(6);
  }
}

.info-container {

}

$cell-size: 25px;
.cells-container {
  text-align: center;
  > div {
    border: 1px solid rgba(0,0,0,0.5);
    display: inline-block;
  }
  .cell {
    // border: 1px dotted rgba(0,0,0,0.1);
    width: $cell-size;
    height: $cell-size;
    float: left;
    &.clear-left {
      clear: left;
    }
    &.filled {
      background-color: blue;
      &.green{
        background-color: green;
      }
      &.orange{
        background-color: orange;
      }
      &.yellow{
        background-color: yellow;
      }
      &.pink{
        background-color: pink;
      }
      &.blue{
        background-color: blue;
      }
      &.purple{
        background-color: purple;
      }
      &.red{
        background-color: red;
      }
    }
  }
}
